body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 2em;
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"], input[type="password"], input[type="number"] {
    width: 100%;
    height: 2em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
}

button {
    width: 100%;
    height: 2em;
    padding: 0.5em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

#account-section {
    display: none;
}

#balance {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
  }
